.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  font-family: Calisto MT;
  font-style: oblique;
  font-size: 25px;
}

h2 {
  font-family: Brush Script MT;
  font-size: 42px;
  color: blue;
  margin: 5px;
}

td, p, ul {
  font-size: 22px;
  color:#1e87ad;
  margin: 5px;
}

p {
  font-family: 'Droid serif', serif; 
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  background:#d2f3f7;
  font-size: 30px;
  border-style: groove;
  border-radius: 15px;
  padding: 15x;
}
.gg {
  color: green;
  background:#d2f3f7;
  font-size: 30px;
  border-style: groove;
  border-radius: 15px;
  padding: 15px;
}
